body {
    background-color: #222;
}

.main-container {
    width: 800px;
    height: 800px;
    background-color: #999;
    border: 2px solid red;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: absolute;
    animation-name: uwu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes uwu {
    0% {top: 0%; left: 0%; border-radius: 0%;}
    25% {top: 0%; left: 75%; border-radius: 20%;}
    50% {top: 75%; left: 75%; border-radius: 40%;}
    75% {top: 75%; left: 0%; border-radius: 60%;}
    100% {top: 0%; left: 0%; border-radius: 0%;}
}