body {
    background-color: #333;
}
.uwu {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    top: 150px;
    transition-duration: 0.5s;
}
.uwu::after {
    content: "";
    background-image: url('../img/DOGE.jpg');
    background-size: 100%;
    background-position-y: -50px;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition-duration: 0.5s;
}
.uwu:hover::after {
    opacity: 1;
    transform: scale(1);
    border-radius: 35%;
}
.uwu:hover {
    border-radius: 35%;
    transform: scale(2);
}